project          = "infra-NNNNNN"
zone             = "europe-west1-b"
disk_image       = "reddit-base-NNNNNNNNNN"
app_disk_image   = "reddit-app-base-NNNNNNNNNN"
db_disk_image    = "reddit-db-base-NNNNNNNNNN"
instance_count   = 2
user_public_key_path_map = {
  // user : path to public key
  "user1" : "~/.ssh/key1.pub",
  "user2" : "~/.ssh/key2.pub",
  "user3" : "~/.ssh/key3.pub",
}
public_key_path  = "~/.ssh/key.pub"
private_key_path = "~/.ssh/key"
ssh_source_range = ["0.0.0.0/0"]
